fieldset	
{
display:block;
width:600px;
height:400px;
margin:30px auto;
background-color : #6bdaff;
border-style : hidden;
clear:both;	

}

legend
{
color:white;
background-color:#17395A;
size=20%
}
span
{
color:red;
font-size: 11px;
text-align:center;
}